*{
  margin: 0;
  padding: 0;
  background-color: black;
}
.App h1{
  color: white;
  text-align: center;
  margin: 2rem;
}

.password{
  justify-content: center;
  margin: 1rem;
  display: flex;
  background: transparent;
  border: none;
}
.password input{
  height: 1rem;
  padding: 1rem;
  width: 70%;
  background: wheat;
  border: none;
  border-radius: 10px 0 0 10px;
}
.copybuttton{
  width: 5rem;
  background: rgb(67, 184, 243);
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.section{
  height: 8rem;
  margin: 3rem;
  padding: 2rem;
  columns: white;
  border-radius: 15px;
  background-color: #6fe2da;
}
.input{
  display: flex;
  margin: 2rem;
  background-color: transparent;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}
.input div{
  background-color: transparent;
}
.input input{
  cursor: pointer;
}
.section label{
  margin:  1rem;
  background: transparent;
}